<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOF! Registro!</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="icon" href="/img/Fondo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <footer>

        <Section class="contenido-footer">

            <h4 style="color:rgb(220, 137, 35)">Categorias</h4>
            <a href="" class="categoria">
                <li class="categoria">Accesorios</li>
            </a>
            <a href="" class="categorias">
                <li class="categoria">Colchonetas y camas</li>
            </a>
            <a href="" class="categoria">
                <li class="categoria">Alimentos</li>
            </a>
            <a href="" class="categoria">
                <li class="categoria">Jueguetes</li>
            </a>

        </Section>
        <section class="contenido-footer">
            <h4 style="color:rgb(220, 137, 35)">Sobre Nosotros</h4>
            <a href=""><li class="categoria">Quienes somos</li></a>
            <a href=""><li class="categoria">Delivery</li></a>
            <a href=""><li class="categoria">Terminos y condiciones</li></a>
                
                
                
            
        </section>
        <section class="contenido-footer">
            <h4 style="color:rgb(220, 137, 35)">Servicios</h4> <a href="" class="servicio">
                <p>
                    <li class="servicio">Guardia las 24hs</li>
            </a>
            <a href="" class="servicio">
                <li class="servicio">Consejos para tu mascota</li>
            </a>
            <a href="/users/profile" class="servicio">
                <li class="servicio">Mi cuenta</li>
            </a>
            </p>
        </section>
        <section class="contenido-footer">
            <h4 style="color:rgb(220, 137, 35)">Contactanos!</h4>
            <p>
                <li style="color:white">
                    Tel: 3364372436
                </li>
                <li style="color:white">
                    Wpp: 3364372436
                </li>
                <li style="color:white">
                    Email: Woof@gmail.com
                </li>
            </p>
        </section>

        <div class="vtex-flex-layout-0-x-flexColChild pb0" style="height: auto;margin: 30px auto;">
            <div class="vtex-flex-layout-0-x-flexCol vtex-flex-layout-0-x-flexCol--footer-payment  ml0 mr0 pl0 pr0      flex flex-column h-100 w-100">
                <div class="vtex-flex-layout-0-x-flexColChild vtex-flex-layout-0-x-flexColChild--footer-payment pb0" style="height: auto;">
                    <div class="vtex-rich-text-0-x-container vtex-rich-text-0-x-container--footer-title flex tl items-start justify-start t-body c-on-base">
                        <div class="vtex-rich-text-0-x-wrapper vtex-rich-text-0-x-wrapper--footer-title">
                            <h4 class="vtex-rich-text-0-x-heading vtex-rich-text-0-x-heading--footer-title t-heading-4 vtex-rich-text-0-x-headingLevel4 vtex-rich-text-0-x-headingLevel4--footer-title vtex-rich-text-0-x-heading-level-4" style="color:#f49a1a;display: flex;justify-content: center;">
                                Formas de pago</h4>
                        </div>
                    </div>
                </div>
                <div class="vtex-flex-layout-0-x-flexColChild vtex-flex-layout-0-x-flexColChild--footer-payment pb0" style="height: auto;margin-bottom: 10px;margin-top: 10px;">
                    <div class="vtex-flex-layout-0-x-flexRow vtex-flex-layout-0-x-flexRow--footer-payment-badges">
                        <div class="flex mt0 mb0 pt0 pb0    justify-start justify-between vtex-flex-layout-0-x-flexRowContent vtex-flex-layout-0-x-flexRowContent--footer-payment-badges items-stretch w-100" style="
                        display: flex;
                        justify-content: space-evenly;
                    ">
                            <div class="pr2 items-stretch vtex-flex-layout-0-x-stretchChildrenWidth   flex" style="width: auto;"><img title="Visa" sizes="" srcset="" alt="" class="vtex-store-components-3-x-imageElement vtex-render-runtime-8-x-lazyload lazyloaded" crossorigin="anonymous" data-src="https://catycanar.vtexassets.com/assets/vtex/assets-builder/catycanar.catycan/1.0.2/svgs/catycan-icon-visa___85e258a7278fc5a2612e9f4bbcc22e22.svg" loading="lazy" src="https://catycanar.vtexassets.com/assets/vtex/assets-builder/catycanar.catycan/1.0.2/svgs/catycan-icon-visa___85e258a7278fc5a2612e9f4bbcc22e22.svg">
                            </div>
                            <div class="pr2 items-stretch vtex-flex-layout-0-x-stretchChildrenWidth   flex" style="width: auto;"><img title="Visa" sizes="" srcset="" alt="" class="vtex-store-components-3-x-imageElement vtex-render-runtime-8-x-lazyload lazyloaded" crossorigin="anonymous" data-src="https://catycanar.vtexassets.com/assets/vtex/assets-builder/catycanar.catycan/1.0.2/svgs/catycan-icon-visa-debito___eccddbad01d728764f57d621bf6ede74.svg" loading="lazy" src="https://catycanar.vtexassets.com/assets/vtex/assets-builder/catycanar.catycan/1.0.2/svgs/catycan-icon-visa-debito___eccddbad01d728764f57d621bf6ede74.svg">
                            </div>
                            <div class="pr2 items-stretch vtex-flex-layout-0-x-stretchChildrenWidth   flex" style="width: auto;"><img title="Mastercard" sizes="" srcset="" alt="" class="vtex-store-components-3-x-imageElement vtex-render-runtime-8-x-lazyload lazyloaded" crossorigin="anonymous" data-src="https://catycanar.vtexassets.com/assets/vtex/assets-builder/catycanar.catycan/1.0.2/svgs/catycan-icon-mastercard___ff64ba8b08e699667cb6c533f82b3f5d.svg" loading="lazy" src="https://catycanar.vtexassets.com/assets/vtex/assets-builder/catycanar.catycan/1.0.2/svgs/catycan-icon-mastercard___ff64ba8b08e699667cb6c533f82b3f5d.svg">
                            </div>
                            <div class="pr2 items-stretch vtex-flex-layout-0-x-stretchChildrenWidth   flex" style="width: auto;"><img title="Amex" sizes="" srcset="" alt="" class="vtex-store-components-3-x-imageElement vtex-render-runtime-8-x-lazyload lazyloaded" crossorigin="anonymous" data-src="https://catycanar.vtexassets.com/assets/vtex/assets-builder/catycanar.catycan/1.0.2/svgs/catycan-icon-amex___66e3801c7170bbe3a0fe70a9fb6381dd.svg" loading="lazy" src="https://catycanar.vtexassets.com/assets/vtex/assets-builder/catycanar.catycan/1.0.2/svgs/catycan-icon-amex___66e3801c7170bbe3a0fe70a9fb6381dd.svg">
                            </div>
                            <div class="pr0 items-stretch vtex-flex-layout-0-x-stretchChildrenWidth   flex" style="width: auto;"><img title="Mercado Pago" sizes="" srcset="" alt="" class="vtex-store-components-3-x-imageElement vtex-render-runtime-8-x-lazyload ls-is-cached lazyloaded" crossorigin="anonymous" data-src="https://catycanar.vtexassets.com/assets/vtex/assets-builder/catycanar.catycan/1.0.2/svgs/catycan-icon-mercadopago___49ca230dbe7f01ad206ebf1f4076a98f.svg" loading="lazy" src="https://catycanar.vtexassets.com/assets/vtex/assets-builder/catycanar.catycan/1.0.2/svgs/catycan-icon-mercadopago___49ca230dbe7f01ad206ebf1f4076a98f.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vtex-flex-layout-0-x-flexColChild vtex-flex-layout-0-x-flexColChild--footer-payment pb0" style="height: auto;">
                    <div class="vtex-rich-text-0-x-container vtex-rich-text-0-x-container--pay-cash flex tl items-start justify-start t-body c-on-base">
                        <div class="vtex-rich-text-0-x-wrapper vtex-rich-text-0-x-wrapper--pay-cash">
                            <p class="lh-copy vtex-rich-text-0-x-paragraph vtex-rich-text-0-x-paragraph--pay-cash" style="color:white;display: flex;justify-content: center;">
                                Efectivo - Transferencia Bancaria</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Copyright">
            <h4 style="color:#f49a1a;display: flex;justify-content: center;margin-bottom: 5px;">Copyright © Woof S.A</h4>
            <p  style="color:white;">Todos los derechos reservados</p>
        </div>

    </footer>
</body>

</html>