<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOF! Registro!</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="icon" href="/img/Fondo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav>
            <div class="atraccion">
                <a href="/">
                    <img style="margin-left:30px;width:250px;height:75px;" src="/img/logoPiolon.png" alt="Logo de Woof!">
                </a>

                
                    <% if (locals.isLogged) { %>
                        <ul class="items">
                            <li>
                                <a href="/products/create">
                                    <span style="color:white;">Crea un producto </span><i class="fas fa-shopping-basket"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/products/edit/"><span style="color:white;">Edita un producto </span><i class="fas fa-shopping-basket"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/products/detail/"><span style="color:white;">Detalle producto </span><i class="fas fa-shopping-basket"></i>
                                </a>
                            </li>
                        </ul>
                        <div>
                            <h3 class="usuario"> 
                                <a href="/users/profile">
                                    <img src="/img/users/<%=locals.userLogged.avatar%>" alt="Avatar" style="max-width: 100px;display: block;border-radius: 50%;border: 5px solid #002050;">
                                </a>
                                <a href="/users/profile" class="usuario" style="margin: 10px;">
                                    <%= locals.userLogged.name %>
                                </a>
                                
                            </h3>
                        </div>

                    <% }else { %>
                        <ul style="margin-right:30px;">
                            <li>
                                <a href="/users/login"><span style="color:white;">Ingresá <i class="fas fa-sign-in-alt"></i></span></a>
                            </li><br>
                            <li>
                                <a href="/users/register"><span style="color:white;">Registrate <i class="fas fa-sign-in-alt"></i></span></a>
                            </li>
                        </ul>
                        
                    <% } %>


                


            </div>
        </nav>

        <!--  BUSCADOR
        <div class="buscador">
        <div class="form" action="#" method="GET">
            <input type="text" class="input" placeholder="Buscar">
            <div class="submit"><i class="fa fa-search"></i></div>
        </div> -->

        </div>

    </header>
</body>

</html>